<% content_for :head do %>
	<!-- header content specific to this page -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script>
		var ele = document.getElementById('container');
		if (ele) {
		    ele.style.visibility = "visible";
		}
	</script>
<% end %>
<div "class="content">
	<h1 class="text-center">Kotzebue Electric Association</h1>
	<!--Row 1 Start-->
	<div class="row mt-3">
		<!-- Last Updated -->
		<div class="col mx-auto">
			<div class="card">
				<div class="card-header" style="text-align:center">
					<h5 class="card-category">Last Updated</h5>
					<h3 class="card-title"><i class="tim-icons icon-watch-time text-primary "></i> <%= @last_updated %></h3>
				</div>
			</div>
		</div>
	</div>
	<!--Row 1 End-->
	<!--Row 2 Start-->
	<div class="row mt-3">
		<!-- Map -->
		<div class="col-sm-5 ml-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Map</h5>
					<h3 class="card-title"><i class="tim-icons icon-square-pin text-primary "></i> Kotzebue, Alaska</h3>
				</div>
				<div class="card-body">
					<h1>THERMOGRAPHIC API MAP HERE</h1>
				</div>
			</div>
		</div>
		<!-- Temperature -->
		<div class="col-sm-3 mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Weather & Temperature</h5>
					<h3 class="card-title"><i class="tim-icons icon-world text-primary "></i> 10,000</h3>
				</div>
				<div class="card-body">
					<h1>WEATHER & WIND PROFILE API HERE</h1>
				</div>
			</div>
		</div>
		<!-- Battery -->
		<div class="col-sm-4 mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Battery</h5>
					<h3 class="card-title"><i class="tim-icons icon-wifi text-info "></i> <strong>State of Battery: </strong><%= @state %></h3>
				</div>
				<div class="card-body">
					<div class="pl-5">
						<strong>State of Charge: </strong><%= @current_record_battery.charge.round(2) %> <br>
						<strong>Charge one hour ago: </strong><%= @pastB.charge.round(2) %> <br>
					</div>
					<div class="battery p-4">
						<div class="battery-head">
						</div>
						<div class="battery-body">
							<% if @state=="Charging" %>
								<i class="fas fa-bolt"></i>
								<div class="charge"></div>
								<h3 class="pl-2 mt-4 z-index-3 position-absolute"><%= @current_record_battery.charge.round(1) %> %</h3>
							<% elsif @state=="Discharging" %>
								<div class="discharge"></div>
								<h3 class="text-center mt-4"><%= @current_record_battery.charge.round(1) %> %</h3>
							<% else %>
								<div class="nocharge"></div>
								<h3 class="text-center mt-3"><%= @current_record_battery.charge.round(1) %> %</h3>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Row 2 End-->
	<!--Row 3 Start-->
	<div class="row mt-5">
		<!-- Electricity Generation Breakdown -->
		<div class="col-md-6 ml-auto mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Electricity Generation</h5>
					<h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary "></i> Electricity Generation Breakdown</h3>
				</div>
				<div class="card-body">
					<div id="bubbleContainer"></div>
					<div class="breakdownTable">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col" colspan="3"></th>
									<th scope="col">kWh</th>
									<th scope="col">Percentage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="3"><strong>TOTAL</strong></td>
									<td><%= @total_kwh %></td>
									<td>100.00</td>
								</tr>
								<tr class="NonRenew">
									<td></td>
									<td colspan="2" >Non Renewables</td>
									<td><%= @non_renew_kwh %></td>
									<td><%= @non_renew_percent %></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td style="display:flex;align-items:center;">
										<div class="Diesel"></div>
										Diesel</td>
									<td><%= @diesel_kwh %></td>
									<td><%= @diesel_percent %></td>
								</tr>
								<tr class="Renew">
									<td></td>
									<td colspan="2">Renewables</td>
									<td><%=@renew_kwh %></td>
									<td><%= @renew_percent %></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td style="display:flex;align-items:center;">
										<div class="Wind"></div>
										Wind</td>
									<td><%= @wind_kwh %></td>
									<td><%= @wind_percent %></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td style="display:flex;align-items:center;">
										<div class="Solar"></div>
										Solar</td>
									<td><%= @solar_kwh %></td>
									<td><%= @solar_percent %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Diesel Savings</h5>
					<h3 class="card-title"><i class="tim-icons icon-money-coins text-success"></i> Diesel Savings </h3>
				</div>
				<div class="card-body">
					<div class="chart-area pb-4">
						<canvas id="savingschart"></canvas>
						<input onchange="filterData()" type="date" id="startdate" value="2021-01-01"
					  min="2021-01-01" max="2021-12-31">
						<input onchange="filterData()" type="date" id="enddate" value="2021-12-31"
					  min="2021-01-01" max="2021-12-31">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Row 3 End-->
<!--Row 4 Start-->
<div class="row mt-5">
	<!-- Community Usage Chart -->
	<div class="col ml-auto mr-auto">
		<div class="card card-chart">
			<div class="card-header">
				<h5 class="card-category">Community</h5>
				<h3 class="card-title"><i class="tim-icons icon-components text-primary "></i> Community Usage Chart</h3>
			</div>
			<div class="card-body">
				<div id="container">
					<div id="heatmap"></div>
				</div>
			</div>
		</div>
	</div>
	<!--Row 4 End-->
</div>
</div>
