<% content_for :head do %>
	<% Dir.glob(Rails.root.join("app/javascript/indexSpecific/**/*.js")).each do |file_path| %>
		<% module_name=File.basename(file_path, ".js" ) %>
			<%= javascript_import_module_tag module_name %>
				<% end %>
					<!--Chart JS -->
					<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
					<!-- Cal-HeatMap-->
					<script src="https://d3js.org/d3.v7.min.js"></script>
					<script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
					<link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
					<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
					<script src="https://unpkg.com/@popperjs/core@2"></script>
					<script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
					<script src="https://unpkg.com/cal-heatmap/dist/plugins/Legend.min.js"></script>
					<!-- Apex Charts-->
					<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
					<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
					<!--Leaflet.js-->
					<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
						integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
					<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
						integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
					<% end %>
						<!--Row 1: Title-->
						<div class="row m-0">
							<h1 class="text desktopPageTitle">
								<%= @page_name %>
							</h1>
						</div>
						<!--Row 1: End-->
						<!-- Row 2: Last Updated Time -->
						<div class="row m-0">
							<div class="col">
								<div class="card p-3">
									<div class="titleWrapper">
										<i class='bx bxs-watch big'></i>
										<h3 class="card-title">
											<%= @last_updated %>
										</h3>
									</div>
								</div>
							</div>
						</div>
						<!--Row 2: End-->
						<!--Row 3: Overview Start-->
						<div class="row gy-3 m-0">
							<div class="col">
								<div class="card">
									<div class="card-body overview">
										<h3 class="card-title">Daily Overview</h3>
										<div class="row gy-3 m-0">
											<!-- Battery Percentage -->
											<div class="col">
												<a href="#battery-card">
													<div class="card p-3 h-100 overview-card">
														<div class="card-body">
															<div class="titleWrapper">
																<i class='bx bxs-battery-charging small'></i>
																<h5 class="card-title">Battery Percentage</h5>
															</div>
															<h1>
																<%= @current_charge %> % <% if
																		@battery_state=="Charging" %>
																		<% elsif @battery_state=="Discharging" %>
																			<% end %>
															</h1>
														</div>
													</div>
												</a>
											</div>
											<!-- Electricity Generation Breakdown -->
											<div class="col">
												<a href="#elec-gen-card">
													<div class="card p-3 h-100 overview-card">
														<div class="card-body">
															<div class="titleWrapper">
																<i class='bx bx-plug small'></i>
																<h5 class="card-title">Electricity Generation Breakdown
																</h5>
															</div>
															<div id="doughnutOV"></div>
														</div>
													</div>
												</a>
											</div>
											<!-- Weather -->
											<div class="col">
												<a href="#map-card">
													<div class="card p-3 h-100 overview-card">
														<div class="card-body">
															<div class="titleWrapper">
																<i class='bx bx-sun small'></i>
																<h5 class="card-title">Weather</h5>
															</div>
															<div class="d-flex flex-column">
																<h3 id="location" class="my-2"></h3>
																<div class="d-flex flex-row">
																	<img src="" alt="" id="weatherIcon">
																	<h2 id="temp" class="my-2"></h2>
																</div>
																<div id="weatherDescWrapper" class="d-flex flex-column align-items-start ps-3">
																	<strong>
																		<p id="weather"></p>
																	</strong>
																	<p id="feelsLike"></p>
																	<p id="humidity"></p>
																	<p id="windProfile"></p>
																</div>
															</div>
														</div>
													</div>
												</a>
											</div>
											<!-- Savings -->
											<div class="col">
												<a href="#savings-card">
													<div class="card p-3 h-100 overview-card">
														<div class="card-body">
															<div class="titleWrapper">
																<i class='bx bx-dollar small'></i>
																<h5 class="card-title">Savings</h5>
															</div>
															<h1>$ <%=
																	number_with_precision(@current_daily_dollar_savings,
																	:precision=> 1, :delimiter => ', ') %></h1>
														</div>
													</div>
												</a>
											</div>
											<!-- Community Electricity Usage -->
											<div class="col">
												<a href="#usage-card">
													<div class="card p-3 h-100 overview-card">
														<div class="card-body">
															<div class="titleWrapper">
																<i class='bx bx-group small'></i>
																<h5 class="card-title">Community Usage</h5>
															</div>
															<h1>
																<%= @total_kwh %> kWh
															</h1>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row 3: End -->
						<!-- Row 4: Features (all in one row)-->
						<div class="row gy-3 m-0">
							<!-- Map -->
							<div class="col">
								<div class="card p-3 h-100" id="map-card">
									<div class="card-body">
										<div class="titleWrapper">
											<i class='bx bx-map big'></i>
											<h3 class="card-title"> Kotzebue, Alaska</h3>
										</div>
										<div id="map"></div>
									</div>
								</div>
							</div>
							<!-- Battery -->
							<div class="col">
								<div class="card p-3 h-100" id="battery-card">
									<div class="card-body">
										<div class="titleWrapper">
											<i class='bx bxs-battery-charging big'></i>
											<h3 class="card-title">State of Battery: <strong>
													<%= @battery_state %>
												</strong></h3>
										</div>
										<strong>Current state of Charge: </strong>
										<%= @current_charge %> <br>
											<strong>Charge one hour ago: </strong>
											<%= @past_charge %> <br>
												<br>
												<div class="battery-container">
													<div class="battery">
														<div class="battery-head">
														</div>
														<div class="battery-body">
															<% if @battery_state=="Charging" %>
																<i class="fas fa-bolt"></i>
																<div class="charge"></div>
																<h3 class="z-index-3 position-relative">
																	<%= @current_charge %> %
																</h3>
																<% elsif @battery_state=="Discharging" %>
																	<div class="discharge"></div>
																	<h3
																		class="z-index-3 position-absolute top-50 start-50 translate-middle">
																		<%= @current_charge %> %
																	</h3>
																	<% else %>
																		<div class="nocharge"></div>
																		<h3
																			class="z-index-1 position-absolute top-50 start-50 translate-middle">
																			<%= @current_charge %> %
																		</h3>
																		<% end %>
														</div>
													</div>
												</div>
									</div>
									<!-- Button trigger modal -->
									<div class="info-button">
										<%= link_to 'Learn More' , modals_batterymodal_path, data: {
											turbo_frame: "modal" }, class: "btn btn-primary" %>
									</div>
								</div>
							</div>
							<!-- Electricity Generation Breakdown Doughnut -->
							<div class="col">
								<div class="card p-3 h-100" id="elec-gen-card">
									<div class="card-body" id="doughnut-card-body">
										<div class="titleWrapper">
											<i class='bx bx-plug big'></i>
											<h3 class="card-title"> Electricity Generation Breakdown</h3>
										</div>
										<div class="col">
											<div id="doughnutMain"></div>
										</div>
										<div class="col">
											<div class="breakdown-table">
												<table class="table table-hover">
													<thead>
														<tr>
															<th scope="col" colspan="3"></th>
															<th scope="col">Usage</th>
															<th scope="col">Amount (%)</th>
														</tr>
													</thead>
													<tbody>
														<tr class="non-renew">
															<td></td>
															<td colspan="2"><strong>Non Renewables</strong></td>
															<td></td>
															<td></td>
														</tr>
														<tr>
															<td></td>
															<td></td>
															<td>
																<div class="diesel"></div>Diesel
															</td>
															<td>
																<%= @diesel_kwh %> kWh
															</td>
															<td>
																<%= @diesel_percent %> %
															</td>
														</tr>
														<tr class="renew">
															<td></td>
															<td colspan="2"><strong>Renewables</strong></td>
															<td></td>
															<td></td>
														</tr>
														<tr>
															<td></td>
															<td></td>
															<td>
																<div class="wind"></div> Wind
															</td>
															<td>
																<%= @wind_kwh %> kWh
															</td>
															<% if @wind_percent==0.0 && @wind_kwh> 0.0 %> <td>
																	<0.01 %</td>
																		<% else %>
																<td>
																	<%= @wind_percent %> %
																</td>
																<% end %>
														</tr>
														<tr>
															<td></td>
															<td></td>
															<td>
																<div class="solar"></div> Solar
															</td>
															<td>
																<%= @solar_kwh %> kWh
															</td>
															<% if @solar_percent==0.0 && @solar_kwh> 0.0 %> <td>~<0.01
																		%</td>
																		<% else %>
																<td>
																	<%= @solar_percent %> %
																</td>
																<% end %>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- Button trigger modal -->
									<div class="info-button">
										<%= link_to 'Learn More' , modals_elec_gen_modal_path, data: {
											turbo_frame: "modal" }, class: "btn btn-primary" %>
									</div>
								</div>
							</div>
							<!-- Diesel Savings -->
							<div class="col">
								<div class="card p-3 h-100" id="savings-card">
									<div class="card-body">
										<div class="titleWrapper">
											<i class='bx bx-dollar big'></i>
											<h3 class="card-title">Diesel Savings</h3>
										</div>
										<div class="savings-chart-area">
											<canvas id="savingsChart"></canvas>
										</div>
										<br>
										<div class="date-selector">
											<div data-toggle="buttons">
												<div class="btn-group" role="group"
													aria-label="Basic radio toggle button group">
													<input type="radio" class="btn-check" name="btnradio" id="lastHour"
														autocomplete="off">
													<label class="btn btn-outline-primary" for="lastHour">Last
														Hour</label>
													<input type="radio" class="btn-check" name="btnradio" id="lastWeek"
														autocomplete="off">
													<label class="btn btn-outline-primary" for="lastWeek">Last
														Week</label>
													<input type="radio" class="btn-check" name="btnradio" id="lastMonth"
														autocomplete="off">
													<label class="btn btn-outline-primary" for="lastMonth">Last
														Month</label>
												</div>
											</div>
											<br>
											<strong>From: </strong>
											<input type="text" class="datepicker" id="startdate"
												value="2021-01-01 00:00:00">
											<br>
											<strong>To:</strong>
											<input type="text" class="datepicker" id="enddate"
												value="<%= @current_date %>">
										</div>
										<br>
										<div class="savings-table">
											<table class="table table-hover">
												<thead>
													<tr>
														<th scope="col" colspan="3">Time Period</th>
														<th scope="col">Dollar Savings ($)</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td colspan="3">This year - <%= @current_year %>
														</td>
														<td>$<%= number_with_precision(@cumulative_savings.last(),
																:precision=> 2, :delimiter => ', ') %></td>
													</tr>
													<tr class="curr-month">
														<td colspan="3">This month - <%= @current_month_str %>
														</td>
														<td>$<%= number_with_precision(@current_month_dollar_savings,
																:precision=> 2, :delimiter => ', ') %></td>
													</tr>
													<tr class="curr-day">
														<td colspan="3">Today - <%= @day_format %>
														</td>
														<td>$<%= number_with_precision(@current_daily_dollar_savings,
																:precision=> 2, :delimiter => ', ') %></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!-- Button trigger modal -->
									<div class="info-button">
										<%= link_to 'Learn More' , modals_savingsmodal_path, data: {
											turbo_frame: "modal" }, class: "btn btn-primary" %>
									</div>
								</div>
							</div>
							<!-- Today's Usage -->
							<div class="col">
								<div class="card p-3 h-100" id="bar-chart-card">
									<div class="titleWrapper">
										<i class='bx bx-bar-chart-alt-2 big'></i>
										<h3 class="card-title">Electricity Usage Today</h3>
									</div>
									<div class="card-body">
										<div id="apexBar"></div>
									</div>
								</div>
							</div>
							<!-- Community Usage Chart -->
							<div class="col">
								<div class="card p-3 h-100" id="usage-card">
									<div class="titleWrapper">
										<i class='bx bx-group big'></i>
										<h3 class="card-title">Community Usage Chart</h3>
									</div>
									<div class="card-body">
										<div class="helpers">
											<div class="legend" id="calHeatMap-legend"></div>
											<div class="buttons">
												<button id="prevBtn1" class="btn btn-primary">Previous</button>
												<button id="nextBtn1" class="btn btn-primary">Next</button>
											</div>
										</div>
										<div id='cal'></div>
									</div>
									<!-- Button trigger modal -->
									<div class="info-button">
										<%= link_to 'Learn More' , modals_com_usage_modal_path, data: {
											turbo_frame: "modal" }, class: "btn btn-primary" %>
									</div>
								</div>
							</div>
							<!-- Green Energy Usage Chart -->
							<div class="col">
								<div class="card p-3 h-100">
									<div class="titleWrapper">
										<i class='bx bx-leaf big'></i>
										<h3 class="card-title">Green Energy Usage Chart</h3>
									</div>
									<div class="card-body">
										<div class="helpers">
											<div class="legend" id="calHeatMap-legendGreen"></div>
											<div class="buttons">
												<button id="prevBtn2" class="btn btn-primary">Previous</button>
												<button id="nextBtn2" class="btn btn-primary">Next</button>
											</div>
										</div>
										<div id='calGreen'></div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row 4: End -->