<% content_for :head do %>
	<!-- header content specific to this page -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<% end %>
<div class="content">
	<h1 class="text-center">Kotzebue Electric Association</h1>
	<div class="row mt-3">
		<!-- Last Updated -->
		<div class="col mx-auto">
			<div class="card">
				<div class="card-header" style="text-align:center">
					<h5 class="card-category">Last Updated</h5>
					<h3 class="card-title"><i class="tim-icons icon-watch-time text-primary "></i> <%= @lastUpdated %></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<!-- Map -->
		<div class="col-sm-5 ml-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Map</h5>
					<h3 class="card-title"><i class="tim-icons icon-square-pin text-primary "></i> Kotzebue, Alaska</h3>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="chartSimpleWithGradient"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!-- Temperature -->
		<div class="col-sm-3 mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Weather & Temperature</h5>
					<h3 class="card-title"><i class="tim-icons icon-world text-primary "></i> 10,000</h3>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="chartSimpleWithGradient"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!-- Battery -->
		<div class="col-sm-4 mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Battery</h5>
					<h3 class="card-title"><i class="tim-icons icon-wifi text-info "></i> <strong>State of Battery: </strong><%= @state %></h3>
				</div>
				<div class="card-body">
					<div class="pl-5">
						<strong>State of Charge: </strong><%= @currentB.charge.round(2) %> <br>
            			<strong>Charge one hour ago: </strong><%= @pastB.charge.round(2) %> <br>
					</div>
					<div class="battery p-4">
						<div class="battery-head">
						</div>
						<div class="battery-body">
							<% if @state=="Charging" %>
								<i class="fas fa-bolt"></i>
								<div class="charge"></div>
								<h3 class="pl-2 mt-4 z-index-3 position-absolute"><%= @currentB.charge.round(1) %> %</h3>
							<% elsif @state=="Discharging" %>
								<div class="discharge"></div>
								<h3 class="text-center mt-4"><%= @currentB.charge.round(1) %> %</h3>
							<% else %>
								<div class="nocharge"></div>
								<h3 class="text-center mt-3"><%= @currentB.charge.round(1) %> %</h3>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<!-- Electricity Generation Breakdown -->
			<div class="col-md-6 ml-auto mr-auto">
				<div class="card card-chart">
					<div class="card-header">
						<h5 class="card-category">Electricity Generation</h5>
						<h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary "></i> Electricity Generation Breakdown</h3>
					</div>
					<div class="card-body">
						<div id="bubbleContainer"></div>
						<div class="breakdownTable">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col" colspan="3"></th>
										<th scope="col">kWh</th>
										<th scope="col">Percentage</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="3"><strong>TOTAL</strong></td>
										<td><%= @current.total.round(0) %></td>
										<td>100</td>
									</tr>
									<tr class="NonRenew">
										<td></td>
										<td colspan="2" >Non Renewables</td>
										<td><%= @current.nonRenew.round(0) %></td>
										<td><%= @dieselTP.round(1) %></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td style="display:flex;align-items:center;"><div class="Diesel"></div>Diesel</td>
										<td id="DieselKW" value=<%= @current.nonRenew.round(0) %> ><%= @current.nonRenew.round(0) %></td>
										<td id="DieselTP" data-percent="<%= @dieselTP %>"><%= @dieselTP.round(1) %></td>
									</tr>
									<tr class="Renew">
										<td></td>
										<td colspan="2">Renewables</td>
										<td><%=@current.renew.round(0) %></td>
										<td id="RenewP" value= "<%= @renewP.round(0) %>"><%= @renewP %></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td style="display:flex;align-items:center;"><div class="Wind"></div>Wind</td>
										<td id="WindKW" value= <%= @current.wind.round(0) %>><%= @current.wind.round(0) %></td>
										<td id="WindTP" data-percent="<%= @windTP %>"><%= @windTP.round(1) %></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td style="display:flex;align-items:center;"><div class="Solar"></div>Solar</td>
										<td id="SolarKW" value= "<%= @current.solar.round(0) %>"><%= @current.solar.round(0) %></td>
										<td id="SolarTP" data-percent="<%= @solarTP %>"><%= @solarTP.round(1) %></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Diesel Savings</h5>
                <h3 class="card-title"><i class="tim-icons icon-money-coins text-success"></i> Diesel Savings </h3>
              </div>
              <div class="card-body">
				  <div class="chart-area pb-4">
					  <canvas id="savingschart"></canvas>
					  <input onchange="filterData()" type="date" id="startdate" value="2021-01-01"
					  min="2021-01-01" max="2021-12-31">
					  <input onchange="filterData()" type="date" id="enddate" value="2021-12-31"
					  min="2021-01-01" max="2021-12-31">
				  </div>
              </div>
            </div>
          </div>
		</div>
	</div>
</div>

