<% content_for :head do %>
	<!-- header content specific to this page -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<% end %>

<div class="content">
	<h2 class="text-center">Kotzebue</h2>
	<div class="row mt-3">
		<!-- Last Updated -->
		<div class="col-sm-3 ml-auto mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Last Updated</h5>
					<h3 class="card-title"><i class="tim-icons icon-watch-time text-primary "></i> <%= @current.dateTime %></h3>
				</div>
				<div class="card-body">
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<!-- Map -->
		<div class="col-sm-5 ml-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Map</h5>
					<h3 class="card-title"><i class="tim-icons icon-square-pin text-primary "></i> 10,000</h3>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="chartSimpleWithGradient"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!-- Temperature -->
		<div class="col-sm-3 mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Weather & Temperature</h5>
					<h3 class="card-title"><i class="tim-icons icon-world text-primary "></i> 10,000</h3>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas id="chartSimpleWithGradient"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!-- Battery -->
		<div class="col-sm-4 mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Battery</h5>
					<h3 class="card-title"><i class="tim-icons icon-wifi text-info "></i> <strong>State of Battery: </strong><%= @state %></h3>
				</div>
				<div class="card-body">
					<div class="pl-5">
						<strong>State of Charge: </strong><%= @currentB.charge %> <br>
						<strong>Charge one hour ago: </strong><%= @pastB.charge %> <br>
					</div>
					<div class="battery p-4">
						<div class="battery-head"></div>
						<div class="battery-body">
							<% if @state=="Charging" %>
								<i class="fas fa-bolt"></i>
								<div class="charge"></div>
								<h3 class="pl-2 mt-4 z-index-3 position-absolute"><%= @currentB.charge.round(1) %> %</h3>
							<% elsif @state=="Discharging" %>
								<div class="discharge"></div>
								<h3 class="text-center mt-4"><%= @currentB.charge.round(1) %> %</h3>
							<% else %>
								<div class="nocharge"></div>
								<h3 class="text-center mt-3"><%= @currentB.charge.round(1) %> %</h3>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<!-- Electricity Generation Breakdown -->
			<div class="col-md-6 ml-auto mr-auto">
				<div class="card card-chart">
					<div class="card-header">
						<h5 class="card-category">Electricity Generation</h5>
						<h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary "></i> Electricity Generation Breakdown</h3>
					</div>
					<div class="card-body">
						<div id="bubbleContainer"></div>
						<ul class="list-group">
							<li class="list-group-item">Total: <%= @current.total.round(0) %> kw</li>
							<li id="DieselKW" value= "<%= @current.nonRenew.round(0) %>" class="list-group-item">Non Renewables: <%= @current.nonRenew.round(0) %> kw</li>
							<li class="list-group-item">Renewables: <%=@current.renew.round(0) %> kw</li>
							<li id="WindKW" value= "<%= @current.wind.round(0) %>" class="list-group-item">Wind: <%= @current.wind.round(0) %> kw</li>
							<li id="SolarKW" value= "<%= @current.solar.round(0) %>" class="list-group-item">Solar: <%= @current.solar.round(0) %> kw</li>
							<li id="WindP" value= "<%= @windP.round(0) %>" class="list-group-item">Wind Percent of Renewables: <%= @windP %>%</li>
							<li id="SolarP" value= "<%= @solarP.round(0) %>" class="list-group-item">Solar Percent of Renewables: <%= @solarP %>%</li>
							<li id="RenewP" value= "<%= @renewP.round(0) %>" class="list-group-item">Renewables Percent: <%= @renewP %>%</li>
							<li id="DieselTP" data-percent="<%= @dieselTP %>" class="list-group-item">Total Diesel Percent: <%= @dieselTP.round(1) %> %</li>
							<li id="SolarTP" data-percent="<%= @solarTP %>" class="list-group-item">Total solar Percent: <%= @solarTP.round(1) %> %</li>
							<li id="WindTP" data-percent="<%= @windTP %>" class="list-group-item">Total wind Percent: <%= @windTP.round(1) %> %</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
