<% content_for :head do %>
	<!-- header content specific to this page -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script>
		var ele = document.getElementById('container');
		if (ele) {
		    ele.style.visibility = "visible";
		}
	</script>
<% end %>
<div "class="content">
	<h1 class="text-center">Kotzebue Electric Association</h1>
	<!--Row 1 Start-->
	<div class="row mt-3">
		<!-- Last Updated -->
		<div class="col mx-auto">
			<div class="card">
				<div class="card-header" style="text-align:center">
					<h5 class="card-category">Last Updated</h5>
					<h3 class="card-title"><i class="tim-icons icon-watch-time text-primary "></i> <%= @last_updated %></h3>
				</div>
			</div>
		</div>
	</div>
	<!--Row 1 End-->
	<!--Row 2 Start-->
	<div class="row mt-3">
		<!-- Map -->
		<div class="col-sm ml-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Map</h5>
					<h3 class="card-title"><i class="tim-icons icon-square-pin text-primary "></i> Kotzebue, Alaska</h3>
				</div>
				<div class="card-body">
					<div id="windy"></div>
				</div>
			</div>
		</div>
		<!-- Temperature -->
		<div class="col-sm mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Weather & Temperature</h5>
					<h3 class="card-title"><i class="tim-icons icon-world text-primary "></i> 10,000</h3>
				</div>
				<div class="card-body">
					<h1>WEATHER & WIND PROFILE API HERE</h1>
				</div>
			</div>
		</div>
		<!-- Battery -->
		<div class="col-sm mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Battery</h5>
					<h3 class="card-title"><i class="tim-icons icon-wifi text-info "></i> <strong>State of Battery: </strong><%= @battery_state %></h3>
				</div>
				<div class="card-body">
					<div class="pl-5">
						<strong>State of Charge: </strong><%= @current_record_battery.charge.round(2) %> <br>
						<strong>Charge one hour ago: </strong><%= @past_hour_record_battery.charge.round(2) %> <br>
					</div>
					<div class="battery p-4">
						<div class="battery-head">
						</div>
						<div class="battery-body">
							<% if @battery_state=="Charging" %>
								<i class="fas fa-bolt"></i>
								<div class="charge"></div>
								<h3 class="pl-2 mt-4 z-index-3 position-absolute"><%= @current_record_battery.charge.round(1) %> %</h3>
							<% elsif @battery_state=="Discharging" %>
								<div class="discharge"></div>
								<h3 class="text-center mt-4"><%= @current_record_battery.charge.round(1) %> %</h3>
							<% else %>
								<div class="nocharge"></div>
								<h3 class="text-center mt-3"><%= @current_record_battery.charge.round(1) %> %</h3>
							<% end %>
						</div>
					</div>
					<!-- Button trigger modal -->
					<div class="pl-2">
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#batteryModal">
						View more
					</button>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="batteryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="batteryModalLabel">Battery Information</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Kotzebue produces energy from the renewable energy sources solar, and wind power. The amount of energy produced
							is dependent on the wind speed and how sunny it is. This means that there some times is an excess production of energy, 
							and this is stored in a lithium-ion battery. 
							<br><br>In this figure you can show how much the battery currently is charged, and if it is charging or
							discharging.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
						</div>
						</div>
					</div>
				</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--Row 2 End-->
	<!--Row 3 Start-->
	<div class="row mt-5">
		<!-- Electricity Generation Breakdown -->
		<div class="col-md-6 ml-auto mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Electricity Generation</h5>
					<h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary "></i> Electricity Generation Breakdown</h3>
				</div>
				<div class="card-body">
					<div id="bubbleContainer"></div>
					<div class="breakdownTable">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col" colspan="3"></th>
									<th scope="col">kWh</th>
									<th scope="col">Percentage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="3"><strong>TOTAL</strong></td>
									<td><%= @total_kwh %></td>
									<td>100.00</td>
								</tr>
								<tr class="NonRenew">
									<td></td>
									<td colspan="2" ><strong>Non Renewables</strong></td>
									<td><strong><%= @non_renew_kwh %></strong></td>
									<td><strong><%= @non_renew_percent %></strong></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td style="display:flex;align-items:center;">
										<div class="Diesel"></div>
										Diesel</td>
									<td><%= @diesel_kwh %></td>
									<td><%= @diesel_percent %></td>
								</tr>
								<tr class="Renew">
									<td></td>
									<td colspan="2"><strong>Renewables</strong></td>
									<td><strong><%=@renew_kwh %></strong></td>
									<td><strong><%= @renew_percent %></strong></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td style="display:flex;align-items:center;">
										<div class="Wind"></div>
										Wind</td>
									<td><%= @wind_kwh %></td>
									<td><%= @wind_percent %></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td style="display:flex;align-items:center;">
										<div class="Solar"></div>
										Solar</td>
									<td><%= @solar_kwh %></td>
									<td><%= @solar_percent %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Button trigger modal -->
				<div class="p-2">
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#batteryModal">
						View more
					</button>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="electricityGenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="electricityGenModalLabel">Electricity Generation</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Kotzebue Electric Association (KEA) currently produces power from diesel, solar, and wind power, and saves eccess energy in a lithium-ion battery.
						Currently 25% of the energy usage in Kotzebue is produced by renewable energy sources, and KEA has a goal of increasing this
						to 50% within the next 5 years.
						<br>
						<br><strong>Wind Power</strong><br>
						KEA started generating wind power in 1997, using the first generation “utility-scale” wind turbines.
						

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Diesel Savings -->
		<div class="col-lg-6">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Diesel Savings</h5>
					<h3 class="card-title"><i class="tim-icons icon-money-coins text-success"></i> Diesel Savings </h3>
				</div>
				<div class="card-body">
					<div class="chart-area pb-4">
						<canvas id="savingschart"></canvas>
						<input onchange="filterData()" type="date" id="startdate" value="2021-01-01"
					  min="2021-01-01" max="2021-12-31">
						<input onchange="filterData()" type="date" id="enddate" value="2021-12-31"
					  min="2021-01-01" max="2021-12-31">
					</div>
				</div>
				<!-- Button trigger modal -->
				<div class="p-2">
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#batteryModal">
						View more
					</button>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="savingsModal" tabindex="-1" aria-labelledby="savingsModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="savingsModalLabel">Diesel Savings</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
					Kotzebue Electric Association (KEA) has been on the cutting edge of using renewable energy since the early 1990s.
					By introducing the renewable energy sources solar and wind power, they have reduced the amount of diesel needed to generate energy.
					The introduction of wind power in Kotzebue displaces 250,000 to 300,000 gallons of diesel fuel every year (that’s about 20% of annual power needs).
					The excess renewable energy is saved in the battery, which displaces 25, 000 gallons of heating fuel every year. <br><br>
					By changing from non-renewable energy sources to renewables the cost of producing electricity goes down. This results in money savings that goes towards the community
					and development in other areas. It also decreases the home electricity bills for KEA members.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Row 3 End-->
	<!--Row 4 Start-->
	<div class="row mt-5">
		<!-- Community Usage Chart -->
		<div class="col ml-auto mr-auto">
			<div class="card card-chart">
				<div class="card-header">
					<h5 class="card-category">Community</h5>
					<h3 class="card-title"><i class="tim-icons icon-components text-primary "></i> Community Usage Chart</h3>
				</div>
				<div class="card-body">
					<div id="container">
						<div id="heatmap"></div>
					</div>
				</div>
				<!-- Button trigger modal -->
				<div class="p-2">
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#batteryModal">
						View more
					</button>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="usageModal" tabindex="-1" aria-labelledby="usageModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="usageModalLabel">Community Usage</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Kotzebue Electric Association (KEA) is monitoring the electricity consumption and generation in Kotzebue.
						The chart represents the consumption for the community today. The color represents the degree of usage with an 
						hour interval. 
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!--Row 4 End-->
	</div>
</div>
