<div class="d-flex align-items-center justify-content-center">
    <h1>Electricity Generation Breakdown</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul class="list-group">
        <li class="list-group-item"> Date: <%= @current.dateTime %> kw</li>
        <li class="list-group-item">Total: <%= @current.total %> kw</li>
        <li class="list-group-item">Non Renewables: <%= @current.nonRenew %> kw</li>
        <li class="list-group-item">Renewables: <%=@current.renew %> kw</li>
        <li class="list-group-item">Wind: <%= @current.wind %> kw</li>
        <li class="list-group-item">Solar: <%= @current.solar %> kw</li>
        <li class="list-group-item">Wind Percent: <%= @current.windP %>%</li>
        <li class="list-group-item">Solar Percent: <%= @current.solarP %>%</li>
        <li class="list-group-item">Renewables Percent: <%= @current.renewP %>%</li>
        <li class="list-group-item">Non-Renewables Percent: <%= @current.nonRenewP %>%</li>
    </ul>
</div>
