<% content_for :head do %>
  <!-- header content specific to this page -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

<% end %>

<div class="d-flex align-items-center justify-content-center">
    <h1>Electricity Generation Breakdown</h1>
</div>
<div id="container"></div>
<div class="d-flex align-items-center justify-content-center">
    <ul class="list-group">
        <li class="list-group-item"> Date: <%= @current.dateTime %></li>
        <li class="list-group-item">Total: <%= @current.total %> kw</li>
        <li class="list-group-item">Non Renewables: <%= @current.nonRenew %> kw</li>
        <li class="list-group-item">Renewables: <%=@current.renew %> kw</li>
        <li class="list-group-item">Wind: <%= @current.wind %> kw</li>
        <li class="list-group-item">Solar: <%= @current.solar %> kw</li>
        <li class="list-group-item">Wind Percent: <%= @windP %>%</li>
        <li class="list-group-item">Solar Percent: <%= @solarP %>%</li>
        <li class="list-group-item">Renewables Percent: <%= @renewP %>%</li>
        <li class="list-group-item">Non-Renewables Percent: <%= @nonRenewP %>%</li>
    </ul>
</div>

