<div class='h1 text-center'>Battery</div>

<div class="col d-flex justify-content-center">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">
            Battery state of charge today
        </h5>
        <p class="card-text">
            <strong>Date: </strong><%= @current.timestamp %> <br>
            <strong>State of Charge: </strong><%= @current.charge %> <br>
            <strong>Charge one hour ago: </strong><%= @past.charge %> <br>
            <strong>State of Battery: </strong><%= @state %>

        </p>
    </div>
    </div>
</div>

<div class="battery p-4">
	<div class="battery-head"></div>
	<div class="battery-body">
		<i class="fas fa-bolt"></i>
        <% if @state %>
            <div class="charge"></div>
            <h3 class="battpercent"><%= @current.charge.round(1) %> %</h3>
        <% else %>
            <div class="discharge"></div>
            <h3 class="text-center"><%= @current.charge.round(1) %> %</h3>
        <% end %>
	</div>
</div>