<nav class="navbar navbar-expand-lg bg-primary-subtle p-4">
  <div class="container-fluid">
  <%= link_to 'Community Energy Awareness', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <%= link_to "Home", root_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
      <%= link_to "Breakdown", generation_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
      <%= link_to "Diesel Savings", savings_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
      <%= link_to "Community Usage", usage_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
      <%= link_to "Battery", battery_path, class:"nav-link"%>
      </li>
      </ul>
    </div>
  </div>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item navbar-right">
    <%= link_to 'About', about_path, class:"nav-link" %>
    </li>
  </ul>
</nav>
<br>