<nav class="h-100">
    <div class="p-3 text-bg-dark h-100">
        
            <a href="https://www.uaf.edu/acep/" class="text-white text-decoration-none img-container">
                <%= image_tag ("ACEP-logo.png"), class: "ACEP-logo-sidebar m-3" %>
            </a>
        <hr>
        <ul class="nav nav-pills flex-column">
            <li class="nav-full">
                <%= link_to root_path, class: "nav-link text-white nav-name d-flex align-items-center #{'active' if current_page?(root_path)}" do %> <span class="material-symbols-outlined me-2" style="font-size: 24px;"> dashboard </span>Dashboard <% end %>
            </li>
            <li class="nav-icon ">
                <%= link_to root_path, class: "nav-link text-white nav-name d-flex align-items-center justify-content-center #{'active' if current_page?(root_path)}" do %><span class="material-symbols-outlined" style="font-size: 36px;"> dashboard </span><% end %>
            </li>
            <li class="nav-full">
                <%= link_to about_path, class: "nav-link text-white nav-name d-flex align-items-center #{'active' if current_page?(about_path)}" do %><span class="material-symbols-outlined me-2" style="font-size: 24px;"> group </span>About<% end %>
            </li>
            <li class="nav-icon">
                <%= link_to about_path, class: "nav-link text-white nav-name d-flex align-items-center justify-content-center #{'active' if current_page?(about_path)}" do %><span class="material-symbols-outlined" style="font-size: 36px;"> group </span><% end %>
            </li>
        </ul>
    </div>
    
</nav>

<script>


</script>