<!DOCTYPE html>
<html>
	<head>
		<title>CEA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
		<link rel="icon" type="image/png" href="../assets/img/favicon.png">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<%= yield(:head) %>
		<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
		<link rel="icon" type="image/png" href="./assets/img/favicon.png">
		<!--     Fonts and icons     -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
		<!-- Nucleo Icons -->
		<link href="theme/assets/css/nucleo-icons.css" rel="stylesheet" />
		<!-- CSS Files -->
		<link href="theme/assets/css/black-dashboard.css?v=1.1.1" rel="stylesheet" />
	</head>

	<body class="sidebar-mini white-content">
		<div class="wrapper">

			<%= render partial: "shared/sidebar" %>

			<div class="main-panel" data="green">

				<%= render partial: "shared/navbar" %>

				<div class="content">
					<%= yield %>
				</div>

				<%= render partial: "shared/footer" %>
			</div>
		</div>

		<!--   Core JS Files   -->
		<script src="theme/assets/js/core/jquery.min.js"></script>
		<script src="theme/assets/js/core/popper.min.js"></script>
		<script src="theme/assets/js/core/bootstrap.min.js"></script>
		<script src="theme/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
		<script src="theme/assets/js/plugins/moment.min.js"></script>
		<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
		<script src="theme/assets/js/plugins/bootstrap-switch.js"></script>
		<!--  Plugin for Sweet Alert -->
		<script src="theme/assets/js/plugins/sweetalert2.min.js"></script>
		<!--  Plugin for Sorting Tables -->
		<script src="theme/assets/js/plugins/jquery.tablesorter.js"></script>
		<!-- Forms Validations Plugin -->
		<script src="theme/assets/js/plugins/jquery.validate.min.js"></script>
		<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
		<script src="theme/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
		<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
		<script src="theme/assets/js/plugins/bootstrap-selectpicker.js"></script>
		<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
		<script src="theme/assets/js/plugins/bootstrap-datetimepicker.js"></script>
		<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
		<script src="theme/assets/js/plugins/jquery.dataTables.min.js"></script>
		<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
		<script src="theme/assets/js/plugins/bootstrap-tagsinput.js"></script>
		<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
		<script src="theme/assets/js/plugins/jasny-bootstrap.min.js"></script>
		<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
		<script src="theme/assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
		<script src="theme/assets/js/plugins/fullcalendar/daygrid.min.js"></script>
		<script src="theme/assets/js/plugins/fullcalendar/timegrid.min.js"></script>
		<script src="theme/assets/js/plugins/fullcalendar/interaction.min.js"></script>
		<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
		<script src="theme/assets/js/plugins/jquery-jvectormap.js"></script>
		<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script src="theme/assets/js/plugins/nouislider.min.js"></script>
		<!-- Chart JS -->
		<script src="theme/assets/js/plugins/chartjs.min.js"></script>
		<!--  Notifications Plugin    -->
		<script src="theme/assets/js/plugins/bootstrap-notify.js"></script>
		<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
		<script src="theme/assets/js/black-dashboard.min.js?v=1.1.1"></script>
		<!-- Black Dashboard DEMO methods, don't include it in your project! -->
		<script src="theme/assets/demo/demo.js"></script>
		
		<script>
			$(document).ready(function() {
			  // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
			  demo.initChartPageCharts();
			});
		</script>
	</body>
</html>
